Match_Review_Subworkflow_Postgres.json
{
  "name": "Match_Review_Subworkflow_Postgres",
  "nodes": [
    {
      "parameters": {},
      "id": "c41ce0e4-66dd-404d-b745-6d78cb744b42",
      "name": "接收主流程数据",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_prediction_history",
          "mode": "list",
          "cachedResultName": "ai_prediction_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "match_date": "={{ $json.matchTime }}",
            "home_team": "={{ $json.homeTeam }}",
            "away_team": "={{ $json.awayTeam }}",
            "league": "={{ $json.league }}",
            "ai_prediction": "={{ $json.prediction }}",
            "match_code": "={{ $json.matchCode }}",
            "prediction_date": "={{ $json.predictionDate }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "match_date",
              "displayName": "match_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "home_team",
              "displayName": "home_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "away_team",
              "displayName": "away_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "league",
              "displayName": "league",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_prediction",
              "displayName": "ai_prediction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_score",
              "displayName": "actual_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_correct",
              "displayName": "is_correct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lesson_learned",
              "displayName": "lesson_learned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_goals",
              "displayName": "total_goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prediction_date",
              "displayName": "prediction_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_code",
              "displayName": "match_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e5fdf469-df22-40d2-8edd-d7dd973d3948",
      "name": "Postgres_立即插入预测",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "xBtiUsMw92AFxRiP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// 1. 自动兼容 matchTime (主流程传来) 和 match_date (数据库返回)\nlet rawTime = input.matchTime || input.match_date;\n\nif (!rawTime) {\n    throw new Error(\"无法定位时间字段，请检查上游节点输出\");\n}\n\nlet matchDate;\n\n// 2. 类型检查与解析\nif (rawTime instanceof Date) {\n    matchDate = rawTime;\n} else if (typeof rawTime === 'string') {\n    if (rawTime.includes('T')) {\n        matchDate = new Date(rawTime);\n    } else {\n        // 处理 \"12-30 01:30\" 这种非标准格式\n        const now = new Date();\n        let matchYear = now.getFullYear();\n        const month = parseInt(rawTime.split('-')[0]);\n        if (now.getMonth() === 11 && month === 1) matchYear++; // 跨年处理\n        matchDate = new Date(`${matchYear}-${rawTime}`);\n    }\n}\n\nif (isNaN(matchDate.getTime())) {\n    throw new Error(`无效的时间值: ${rawTime}`);\n}\n\n// 3. 设定在开赛 3.5 小时后复盘\nconst reviewTime = new Date(matchDate.getTime() + 3.5 * 60 * 60 * 1000);\n\n// 4. 清洗数据（处理 matchCode 前缀可能带 = 的问题）\nlet cleanMatchCode = input.matchCode || \"未知编号\";\nif (cleanMatchCode.startsWith('=')) {\n    cleanMatchCode = cleanMatchCode.substring(1);\n}\n\nreturn {\n  reviewTime: reviewTime.toISOString(),\n  matchCode: cleanMatchCode,\n  predictionDate: input.predictionDate,\n  match_date: matchDate.toISOString() \n};"
      },
      "id": "0c33dd73-26b8-48e6-bb50-3f14ed43c780",
      "name": "计算复盘时间",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.reviewTime }}"
      },
      "id": "cc890905-296f-411e-af60-43509a1914e4",
      "name": "等待至赛后",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ],
      "webhookId": "e4bc1c15-8070-4966-9443-115272f43409"
    },
    {
      "parameters": {
        "url": "https://api.yucejia.com/api/v1/jcMatchList",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6"
            },
            {
              "name": "origin",
              "value": "https://www.yucejia.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://www.yucejia.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Microsoft Edge\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "id": "fcdcc999-9680-460c-aa8d-bc8d4bfea668",
      "name": "Get_Today_Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://api.yucejia.com/api/v1/jcMatchList/yesterday.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6"
            },
            {
              "name": "origin",
              "value": "https://www.yucejia.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://www.yucejia.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Microsoft Edge\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "id": "114f207d-cdcf-4d25-a2c7-9c0d691137bd",
      "name": "Get_Yesterday_Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        208
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "text": "=你是一个足球赛果提取专家。 【目标比赛编号】：{{ $node[\"接收主流程数据\"].json.matchCode }} (例如：周五013) 【目标主队】：{{ $node[\"接收主流程数据\"].json.homeTeam }}\n\n请在以下两个数据源（今日和昨日列表）中，找到 jcNum 等于上述编号且主队一致的比赛。\n\n今日：{{ JSON.stringify($node[\"Get_Today_Scores\"].json.data) }}\n\n昨日：{{ JSON.stringify($node[\"Get_Yesterday_Scores\"].json.data) }}\n\n【输出格式】：只输出 JSON，如 {\"score\": \"2-1\", \"total_goals\": 3, \"found\": true}",
        "options": {}
      },
      "id": "d6f83c74-d277-4287-ba22-157b6e65c9e4",
      "name": "AI比分提取器",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        256,
        112
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "text": "=你是一个专业的足球复盘专家。\n\n【对阵】\n{{ $node[\"接收主流程数据\"].json.homeTeam }} VS {{ $node[\"接收主流程数据\"].json.awayTeam }}\n\n【预测内容】\n{{ $node[\"接收主流程数据\"].json.prediction }}\n\n【实际赛果】\n比分：{{ $json.score }}\n总进球：{{ $json.total_goals }}\n\n【任务】\n对比预测和结果。如果预测方向正确，总结成功因素；如果错误，指出被忽视的战术点或意外因素。一句话总结，严禁废话。",
        "options": {}
      },
      "id": "14ab0931-61df-492c-9510-9d85fd67cd99",
      "name": "AI复盘反思",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        544,
        112
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_prediction_history \nSET \n    actual_score = '{{ $node[\"AI比分提取器\"].json.score }}',\n    total_goals = {{ $node[\"AI比分提取器\"].json.total_goals }},\n    lesson_learned = '{{ $node[\"AI复盘反思\"].json.output }}',\n    is_correct = CASE WHEN '{{ $node[\"AI比分提取器\"].json.found }}' = 'true' THEN true ELSE false END\nWHERE \n    match_code = '{{ $node[\"接收主流程数据\"].json.matchCode }}' \n    AND prediction_date = '{{ $node[\"接收主流程数据\"].json.predictionDate }}'::DATE;",
        "options": {}
      },
      "id": "d16960c9-ce8b-4892-903a-cb9ca9f3c4d7",
      "name": "Postgres_更新比分和复盘",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "xBtiUsMw92AFxRiP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1-mini-2024-09-12",
          "mode": "list",
          "cachedResultName": "o1-mini-2024-09-12"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        272
      ],
      "id": "c6285350-23ca-4b70-be78-a706f4733e74",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YSYISvHJkbsdHdn9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1-mini-2024-09-12",
          "mode": "list",
          "cachedResultName": "o1-mini-2024-09-12"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        288
      ],
      "id": "187ab8d6-801b-459b-88b7-cb429f381438",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YSYISvHJkbsdHdn9",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "接收主流程数据": {
      "main": [
        [
          {
            "node": "Postgres_立即插入预测",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_立即插入预测": {
      "main": [
        [
          {
            "node": "计算复盘时间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计算复盘时间": {
      "main": [
        [
          {
            "node": "等待至赛后",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待至赛后": {
      "main": [
        [
          {
            "node": "Get_Today_Scores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Yesterday_Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Today_Scores": {
      "main": [
        [
          {
            "node": "AI比分提取器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Yesterday_Scores": {
      "main": [
        [
          {
            "node": "AI比分提取器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI比分提取器": {
      "main": [
        [
          {
            "node": "AI复盘反思",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI复盘反思": {
      "main": [
        [
          {
            "node": "Postgres_更新比分和复盘",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI比分提取器",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI复盘反思",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62b63e1f-088b-4140-bf01-20611b7cbe33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5fc09b4f1c0ae2e96a3fff53d15fb9ff27132623b0f6ed5e383e54eb12a9e25"
  },
  "id": "P7EO5xHis5j9e9xg",
  "tags": []
}