workflows/Jy8WM9vZfplR4SQk.json
{
  "id": "Jy8WM9vZfplR4SQk",
  "name": "Match_Review_Subworkflow_Postgres",
  "nodes": [
    {
      "parameters": {},
      "id": "fea9c711-15fa-4dbd-a001-f2da959b746e",
      "name": "接收主流程数据",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -208
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_prediction_history",
          "mode": "list",
          "cachedResultName": "ai_prediction_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "match_date": "={{ $json.matchTime }}",
            "home_team": "={{ $json.homeTeam }}",
            "away_team": "={{ $json.awayTeam }}",
            "league": "={{ $json.league }}",
            "ai_prediction": "={{ $json.prediction }}",
            "match_code": "={{ $json.matchCode }}",
            "prediction_date": "={{ $json.predictionDate }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "match_date",
              "displayName": "match_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "home_team",
              "displayName": "home_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "away_team",
              "displayName": "away_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "league",
              "displayName": "league",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_prediction",
              "displayName": "ai_prediction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_score",
              "displayName": "actual_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_correct",
              "displayName": "is_correct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lesson_learned",
              "displayName": "lesson_learned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_goals",
              "displayName": "total_goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prediction_date",
              "displayName": "prediction_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_code",
              "displayName": "match_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "495eccf6-8cff-41ff-8603-7707f5e9126e",
      "name": "Postgres_立即插入预测",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "pF86czUGQR9pDrjl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// 1. 自动兼容 matchTime (主流程传来) 和 match_date (数据库返回)\nlet rawTime = input.matchTime || input.match_date;\n\nif (!rawTime) {\n    throw new Error(\"无法定位时间字段，请检查上游节点输出\");\n}\n\nlet matchDate;\n\n// 2. 类型检查与解析\nif (rawTime instanceof Date) {\n    matchDate = rawTime;\n} else if (typeof rawTime === 'string') {\n    if (rawTime.includes('T')) {\n        matchDate = new Date(rawTime);\n    } else {\n        // 处理 \"12-30 01:30\" 这种非标准格式\n        const now = new Date();\n        let matchYear = now.getFullYear();\n        const month = parseInt(rawTime.split('-')[0]);\n        if (now.getMonth() === 11 && month === 1) matchYear++; // 跨年处理\n        matchDate = new Date(`${matchYear}-${rawTime}`);\n    }\n}\n\nif (isNaN(matchDate.getTime())) {\n    throw new Error(`无效的时间值: ${rawTime}`);\n}\n\n// 3. 设定在开赛 3.5 小时后复盘\nconst reviewTime = new Date(matchDate.getTime() + 3.5 * 60 * 60 * 1000);\n\n// 4. 清洗数据（处理 matchCode 前缀可能带 = 的问题）\nlet cleanMatchCode = input.matchCode || \"未知编号\";\nif (cleanMatchCode.startsWith('=')) {\n    cleanMatchCode = cleanMatchCode.substring(1);\n}\n\nreturn {\n  reviewTime: reviewTime.toISOString(),\n  matchCode: cleanMatchCode,\n  predictionDate: input.predictionDate,\n  match_date: matchDate.toISOString() \n};"
      },
      "id": "80182550-0924-4aba-8cd9-aa2c9631075c",
      "name": "计算复盘时间",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -208
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.reviewTime }}"
      },
      "id": "cf173b61-7114-4e2a-a4c7-4bbfb22124d4",
      "name": "等待至赛后",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -208,
        -208
      ],
      "webhookId": "e4bc1c15-8070-4966-9443-115272f43409"
    },
    {
      "parameters": {
        "url": "https://api.yucejia.com/api/v1/jcMatchList",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6"
            },
            {
              "name": "origin",
              "value": "https://www.yucejia.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://www.yucejia.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Microsoft Edge\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "id": "995ee2c8-7746-4cd4-bce0-ba000713ce89",
      "name": "Get_Today_Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        16,
        -304
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://api.yucejia.com/api/v1/jcMatchList/yesterday.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6"
            },
            {
              "name": "origin",
              "value": "https://www.yucejia.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://www.yucejia.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Microsoft Edge\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "id": "2477fb4c-cf59-42d2-8068-b28d358c95dd",
      "name": "Get_Yesterday_Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        16,
        -112
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "text": "=你是一个严谨的足球数据分析师。\n\n【比赛】{{ $node[\"合并数据\"].json.homeTeam }} VS {{ $node[\"合并数据\"].json.awayTeam }}\n【预测区间】1-2球\n【实际总进球】{{ $node[\"合并数据\"].json.total_goals }}\n【判定结果】{{ $node[\"合并数据\"].json.is_prediction_correct ? \"预测正确\" : \"预测失败\" }}\n\n【任务】\n1. 如果“预测正确”，请分析预测中哪条战术情报起到了关键作用。\n2. 如果“预测失败”，请分析为什么实际进球数超出了或低于了预期区间（例如：是否因为红牌、点球、或极端铁桶阵导致了{{ $node[\"合并数据\"].json.total_goals }}球的结果）。\n要求：一句话深刻复盘，不许和稀泥。",
        "options": {}
      },
      "id": "809fe63d-9f28-4244-b4b5-b2ad40f45384",
      "name": "AI复盘反思",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        688,
        -208
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_prediction_history \nSET \n    actual_score = '{{ $node[\"合并数据\"].json.score }}',\n    total_goals = {{ $node[\"合并数据\"].json.total_goals }},\n    lesson_learned = '{{ $node[\"AI复盘反思\"].json.output }}',\n    -- 使用我们算出来的 is_prediction_correct\n    is_correct = {{ $node[\"合并数据\"].json.is_prediction_correct }} \nWHERE \n    match_code = '{{ $node[\"接收主流程数据\"].json.matchCode }}' \n    AND prediction_date = '{{ $node[\"接收主流程数据\"].json.predictionDate }}'::DATE;",
        "options": {}
      },
      "id": "909061ad-565a-4f9c-8c76-d7b5cd79f5c2",
      "name": "Postgres_更新比分和复盘",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "pF86czUGQR9pDrjl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1-preview-2024-09-12",
          "mode": "list",
          "cachedResultName": "o1-preview-2024-09-12"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        760,
        16
      ],
      "id": "8c68b74d-ac3d-4b1f-bdce-daf5ded8070b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "h8jtCuruixgdtycY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const target = $('接收主流程数据').item.json;\nconst targetCode = target.matchCode;\nconst predictionText = target.prediction; // 包含 HTML 的预测文本\n\n// 1. 获取比分数据\nconst getMatchList = (nodeName) => {\n    try {\n        const rawData = $(nodeName).item.json.data;\n        return rawData ? JSON.parse(rawData).matchList || [] : [];\n    } catch (e) { return []; }\n};\n\nconst allMatches = [...getMatchList('Get_Today_Scores'), ...getMatchList('Get_Yesterday_Scores')];\nconst found = allMatches.find(m => m.jcNum === targetCode);\n\nif (!found || found.homeScore === null) {\n    return { found: false, msg: \"未完场\" };\n}\n\nconst totalGoals = parseInt(found.homeScore) + parseInt(found.awayScore);\n\n// 2.【核心改进】从 HTML 文本中提取预测区间 (匹配类似 \"1-2球\" 或 \"[1-2]球\")\nlet isCorrect = false;\nconst rangeMatch = predictionText.match(/(\\d+)-(\\d+)球/);\nif (rangeMatch) {\n    const minGoals = parseInt(rangeMatch[1]);\n    const maxGoals = parseInt(rangeMatch[2]);\n    // 数学判定：总进球是否在区间内\n    isCorrect = (totalGoals >= minGoals && totalGoals <= maxGoals);\n}\n\nreturn {\n    found: true,\n    is_prediction_correct: isCorrect, // 这里是真正的对错判断\n    score: `${found.homeScore}-${found.awayScore}`,\n    total_goals: totalGoals,\n    matchCode: targetCode,\n    homeTeam: found.homeTeamName,\n    awayTeam: found.awayTeamName\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -208
      ],
      "id": "526c4f0d-6f6e-4f6b-a082-2b90552a7b9f",
      "name": "合并数据"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        -208
      ],
      "id": "3d83cf92-8a36-4a8b-9d58-531e47b4705d",
      "name": "Merge"
    }
  ],
  "connections": {
    "接收主流程数据": {
      "main": [
        [
          {
            "node": "Postgres_立即插入预测",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_立即插入预测": {
      "main": [
        [
          {
            "node": "计算复盘时间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计算复盘时间": {
      "main": [
        [
          {
            "node": "等待至赛后",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待至赛后": {
      "main": [
        [
          {
            "node": "Get_Today_Scores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Yesterday_Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Today_Scores": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Yesterday_Scores": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI复盘反思": {
      "main": [
        [
          {
            "node": "Postgres_更新比分和复盘",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI复盘反思",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "合并数据": {
      "main": [
        [
          {
            "node": "AI复盘反思",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "triggerCount": 0,
  "versionId": "f10055d7-91a4-4fb1-bc2c-2295d584d528",
  "owner": {
    "type": "personal",
    "projectId": "4gZXsoo5v3SNQN13",
    "projectName": "卷梦 书 <3424771506@qq.com>",
    "personalEmail": "3424771506@qq.com"
  },
  "parentFolderId": null,
  "isArchived": false
}